#vanta-background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
}

#logo-img {
  width: 75px;
  height: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 50px;
}

app-api-entry {
  margin-top: 250px;
}

.title {
  text-align: center;
  position: absolute;
  z-index: 2;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title p {
  font-size: 11px;
  margin-top: 12px;
}

